fastapi
uvicorn[standard]
chromadb
sentence-transformers[onnx]
python-dotenv
requests
Whoosh
transformers
torch
prometheus-fastapi-instrumentator
pytest
langchain
langchain-text-splitters
unstructured
jq
beautifulsoup4
google-cloud-bigquery
pypdf
